<!DOCTYPE html>
{% extends "hostel_app/base.html" %}
{% load staticfiles %}

{% block body_block %}

    <h1>{{ hostel.hostel_name }} Hostel </h1>
    <h2> Warden : {{ hostel.warden }}</h2>
    <h3>Total students : {{ num_students }}</h1>

    <br>
    <br>
    <h4>Mess type : {{ hostel.mess.mess_type}}</h4>
    <h4>Mess Contractor : {{ hostel.mess.contractor}}</h4>
    <h4>Mess Fees Daily : Rs.{{ hostel.mess.daily_fees}}</h4>
    <br>
    <br>

    {% if students %}
    <ul>
        {% for student in students %}

            <li><strong> Room No. : </strong>{{student.room}}</li>
            <li><strong> Roll No. : </strong>{{student.roll_no | upper}}</li>
            <li><strong> Name. : </strong>{{student.student_name}}</li>
            <li><strong> Gender : </strong>{{student.gender}}</li>
            <li><strong> Course : </strong>{{student.course}}</li>
            <br>

        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}
