<!DOCTYPE html>
{% extends "hostel_app/base.html" %}
{% load staticfiles %}

{% block body_block %}
<div>
  <style>
    div.a-full {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      margin-top: 100px;
      margin-bottom: 50px;
      justify-content: center;
    }
    div.a-central-div {
      padding: 0 40px;
      border-color: white;
      border-width: 10px;
      border-style: double;
      border-collapse: separate;
    }

  </style>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <div class="main-w3layouts wrapper">
            <div class="main-agileinfo-reg">
              <div class="agileits-top-reg">
                <form enctype="multipart/form-data" method="post">
                  {% csrf_token %}
                  {% if student_form.errors %}
                    <div class="alert alert-danger" role="alert">
                      <div class="error">
                         <ul>
                           {% for key,value in student_form.errors.items %}
                            {% for error in value %}
                              <li>{{ error }}</li>
                            {% endfor %}
                           {% endfor %}
                         </ul>
                      </div>
                    </div>
                  {% endif %}
                  <div class="form-group">
                    <label for="id_student_name"> Name :</label>
                    <input required class="textarea-css" type="text" name="student_name" value="{{student_form.student_name.value}}">
                  </div>

                  <div class="form-group">
                    <!-- Name attribute should match form attribute -->
                    <label for="id_gender">Gender:</label>
                    <select required id="id_gender" name="gender" class="select-css">
                      {% for value,key in student_form.fields.gender.choices %}
                          <option value="{{ value }}"{% if student_form.gender.value == value %} selected {% endif %}>
                              {{ key }}
                          </option>
                      {% endfor %}
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="id_course">Department:</label>
                    <select id="id_course" name="course" class="select-css">
                      {% for value,key in student_form.fields.course.choices %}
                          <option value="{{ value }}"{% if student_form.course.value == value %} selected {% endif %}>
                              {{ key }}
                          </option>
                      {% endfor %}
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="id_room">Room:</label>
                    <select required id="id_room" name="room" class="select-css">
                      {% for value,key in student_form.fields.room.choices %}
                          <option value="{{ value }}"{% if value == student_form.room.value %} selected {% endif %}>
                              <!-- {{student_form.room.value}}
                              {{value}} -->
                              {{ key }}
                          </option>
                      {% endfor %}
                    </select>
                  </div>

                  <input type="submit" class="reg_button" value="Confirm">
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="a-full">
            <div class="a-central-div">
              {% if boys_hostel %}
              <h2>Boys Hostel</h2>
                  {% for hostel in boys_hostel %}
                      <p>{{hostel.hostel_name}}</p>
                  {% endfor %}
              {% endif %}

              {% if girls_hostel %}
              <h2>Girls Hostel</h2>
                  {% for hostel in girls_hostel %}
                      <p>{{hostel.hostel_name}}<p>
                  {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}
