<!DOCTYPE html>
{% extends "hostel_app/base.html" %}
{% load staticfiles %}

{% block body_block %}

    <h1>{{ student.student_name }}</h1>

    <h3>Roll No : {{ student.user.username }}</h1>

    <ul>
            <li><strong> Hostel : </strong>
            <a href="{% url 'hostel_app:hostel-details'%}">
              {{student.room.hostel.hostel_name}}</li>
            </a>
            <li><strong> Room No. : </strong>{{ student.room.room_num}}</li>
            <li><strong> Gender : </strong>{{student.gender}}</li>
            <li><strong> Department : </strong>{{student.course.course_name}}</li>
            <li><strong> Faculty Advisor : </strong>{{student.course.faculty}}</li>

            <br>

    </ul>
{% endblock %}
