<!DOCTYPE html>
{% extends "hostel_app/base.html" %}
{% load staticfiles %}

{% block body_block %}
    <div class="container">
      <div class="card" style="border-color: white; border-width: 8px; border-style: ridge;">
        {% if student.gender == 'F' %}
          <img src="{% static "hostel_app/female.jpg"%}" alt="Female" style="width:100%">
        {% else %}
          <img src="{% static "hostel_app/male.jpg"%}" alt="Male" style="width:100%">
        {% endif %}
        <h1>{{ student.student_name }}</h1>
        <p class="title"><strong>{{student.user.username | upper }}</strong></p>
        <p>{{student.room.hostel.hostel_name}} Hostel - {{ student.room.room_num}}</p>
        <p>{{student.course.course_name}}</p>
        <p>Faculty Advisor : {{student.course.faculty}}</p>
        <button class="button1" onclick="location.href='{% url 'hostel_app:edit-profile'%}';">Edit Profile</button>
      </div>
    </div>
{% endblock %}
